.tbl_icons i{
    font-size: 30px;
}


/* photo gallery */
.preview_wrap img{
    width: 100%;
}

img.galleryPhoto {
    max-width: 100%;
}

.imgWraper {
    border: 1px solid;
    box-shadow: 1px 1px 10px #505050;
    padding: 20px;
    min-height: 142px;
    margin: 10px 0px;
}


/* Dashboard */
.col-md-2.summary_wrapper {
    border: 1px solid;
    margin: 10px;
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0 0 10px #000000ad;
}