/* This is custom css*/

.container{
    max-width: 1268px;
}


/* Define classes */

.secrow{
    display: flex;
    flex-wrap: wrap;
}

.secrow .secCol{
    width: 50
}





/* banner */

.banner_wrap{
    background: url(/img/banner-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Contact wrap */

.contact_wrap{
    background: rgb(233, 233, 233);
    padding: 100px 0px;
}

.contact_wrap .form-group{
    padding: 10px 0px;
}


/* Nevbar */
div#navbarNav {
    justify-content: space-between;
}

.social_sec a {
    margin: 0px 4px;
}
.social_sec a i {
    font-size: 24px;
}







/* Responsive */

@media(max-width: 767px){
    .banner_wrap .row{
        flex-direction: column-reverse;
    }
}



